{{ define "settings" }}
  {{ template "head" . }}
  {{ template "header" . }}

  <main>
    <div class="width width--fixed">
      <div class="settings__inner">

        <div class="box settings__box">
          <h1>Settings</h1>
          
          <div class="settings__avatar">
            <img src="{{ .Gravatar }}" alt="Gravatar for user">
            <a href="https://en.gravatar.com/emails" class="settings__avatar-overlay">
              {{ template "pencilIcon" . }}
              <span>Edit</span>
            </a>
          </div>

          <form class="settings__form" method="POST" action="/settings">
            <div class="field">
              <label for="email">Email address</label>
              <input required id="email" value="{{ .User.Email }}"  type="text" name="email" readonly disabled />
            </div>

            <div class="field">
              <label for="displayName">Display name</label>
              <input required id="displayName" value="{{ .User.DisplayName }}"  type="text" placeholder="JackedFool49" name="displayName" />
            </div>

            <div class="field">
              <label for="timezone">Timezone</label>
              <select id="timezone" name="timezone">
                {{ range .Timezones }}
                  <option value="{{ . }}" {{ if eq $.Timezone . }}selected{{ end }}>{{ . }}</option>
                {{ end }}
              </select>
            </div>

            <div class="field">
              <button class="button button--full-width button--primary" type="submit">Save</button>
            </div>

            {{ if eq .Query.success "1" }}
              <div class="alert alert--success">
                Your settings have been updated successfully!
              </div>
            {{ end }}
          </form>
        </div>

      </div>
    </div>
  </main>


  {{ template "footer" . }}
  {{ template "foot" . }}
{{ end }}