.settings {
  &__inner {
    padding-top: 48px;
    padding-bottom: 48px;

    h1 {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
    }
  }

  &__box {
    margin: 0 auto;
    max-width: 440px;
  }

  &__avatar {
    max-width: 120px;
    margin: 32px auto;
    position: relative;

    &,
    img {
      border-radius: 50%;
    }
  }

  &__avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkText;
    gap: 4px;
    opacity: 0;
    transition: 0.15s opacity;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 18px;
    }
  }

  &__form {
    > * + * {
      margin-top: 20px;
    }
  }
}
