{{ define "dayChallenges" }}
  {{ if .Challenges }}
  <div class="day__challenges">
    {{ $index := 0 }}
    {{ range .Challenges }}
      <div class="challenge-card">
        <header>
          <h3>Challenge #{{ add $index 1 }}</h3> <!-- Display challenge number -->
        </header>

        <p>
          {{ .Description }}
        </p>

        <div class="challenge-card__details">
          <div class="challenge-card__details">
            {{ .Category }}
          </div>
          <div class="challenge-card__details">
            {{ .Difficulty }}
          </div>
          <div class="challenge-card__details">
            {{ .MuscleGroups }}
          </div>
        </div>

        {{ if $.IsCurrentDay }}
          {{ if $.User }}
            {{ if index $.CompletedMap .ID }}
              <p>Already Completed</p>
            {{ else }}
              <form method="POST" action="/challenge/complete">
                <input type="hidden" name="challenge_id" value="{{ .ID }}">
                <input type="hidden" name="day_id" value="{{ $.DayID }}">
                <button type="submit">Complete</button>
              </form>
            {{ end }}
          {{ else }}
            <p>Please log in to complete challenges.</p>
          {{ end }}
        {{ else }}
          <p>Challenge available only on the correct day.</p>
        {{ end }}

      </div>
      {{ $index = add $index 1 }}
    {{ end }}
  </div>
  {{ end }}
{{ end }}