@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-Bold.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-Medium.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-Regular.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-SemiBold.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  background-color: #f6ede9;
  color: #0c0c0c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
button,
textarea {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

input[type=email],
input[type=text],
input[type=password],
input[type=search] {
  display: block;
  width: 100%;
}

a,
button,
label,
input[type=submit],
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.width {
  max-width: 1140px;
  margin: 0 auto;
  width: calc(100% - 40px);
}
.width--flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  border: 1px solid transparent;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  line-height: 46px;
  border-radius: 6px;
}
.button--full-width {
  display: flex;
  width: 100%;
}
.button--primary {
  border-color: #2a73ef;
  background-color: #2a73ef;
  color: white;
}
.button--secondary {
  border: 1px solid #c5bfbc;
  border-radius: 6px;
  color: #0c0c0c;
}
.box {
  border: 1px solid grey;
  background: #fff;
  padding: 20px;
  border-radius: 9px;
}

.header {
  background: #0c0c0c;
  color: #fff;
  height: 68px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.header-logo__text {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}
.header-logo__beta {
  text-transform: uppercase;
  padding: 0 4px;
  opacity: 0.4;
  font-size: 10px;
  font-weight: 700;
  color: #0c0c0c;
  background-color: #fff;
  border-radius: 3px;
}

.header__nav {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.header__nav a {
  color: #fff;
  font-weight: 500;
}

.flash {
  background-color: #2a73ef;
  color: white;
  padding: 6px 0;
  text-align: center;
  font-size: 16px;
}

.footer {
  background-color: #0c0c0c;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.field label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
}
.field input,
.field select {
  background: #fff6f2;
  border: 1px solid #c5bfbc;
  line-height: 46px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
}
.field input,
.field select,
.field textarea {
  display: block;
  width: 100%;
  color: #0c0c0c;
  background: #fff;
}

.login-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-fixed__inner {
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.login-fixed__logo {
  text-align: center;
  margin-bottom: 12px;
}
.login-fixed__logo a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #0c0c0c;
  font-weight: 500;
}
.login-fixed__header {
  text-align: center;
  margin-bottom: 1.25rem;
}
.login-fixed__header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.login-fixed__header h2 {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 400;
}
.login-fixed__buttons .button + .button {
  margin-top: 10px;
}

.home-header {
  text-align: center;
  padding-bottom: 40px;
}
.home-header img {
  margin: -40px auto 24px;
}
.home-header h1 {
  font-size: 54px;
  font-weight: 500;
  font-family: "DM Serif Text", sans-serif;
}
.home-header small {
  display: block;
  font-weight: 400;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home-header p span {
  font-variant-numeric: tabular-nums;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.home-grid-item {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 240px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 0;
  justify-content: space-between;
}
.home-grid-item--enabled {
  color: #fff;
}
.home-grid-item--enabled:nth-child(3n+1) {
  background-color: rgb(223, 64, 71);
}
.home-grid-item--enabled:nth-child(3n+2) {
  background-color: rgb(231, 162, 9);
}
.home-grid-item--enabled:nth-child(3n+3) {
  background-color: rgb(70, 113, 86);
}
.home-grid-item--disabled {
  background-color: #d4c8c3;
  color: rgb(115, 109, 104);
}
.home-grid-item h3 {
  font-size: 16px;
  font-weight: 400;
}
.home-grid-item h4 {
  font-family: serif;
  font-size: 150px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -110px;
}

.settings__inner {
  padding-top: 3rem; /* equivalent to py-12 */
  padding-bottom: 3rem;
}
.settings__inner h1 {
  text-align: center;
  font-size: 1.875rem; /* equivalent to text-3xl */
  font-weight: 600; /* equivalent to font-semibold */
}
.settings__form {
  margin-top: 2rem; /* equivalent to mt-8 */
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem; /* equivalent to max-w-md */
}
.settings__form > * + * {
  margin-top: 1.25rem; /* equivalent to space-y-5 */
}

/*# sourceMappingURL=style.css.map */
