@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-Bold.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-Medium.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-Regular.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/subset-PlayfairDisplay-SemiBold.woff2") format("woff2"), url("/fonts/subset-PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  background-color: #0c0c0c;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input,
select,
button,
textarea {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

input[type=email],
input[type=text],
input[type=password],
input[type=search] {
  display: block;
  width: 100%;
}

a,
button,
label,
input[type=submit],
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

main {
  background: #f6f6f6;
  color: #0c0c0c;
}

.hidden {
  display: none;
}

.width {
  max-width: 1140px;
  margin: 0 auto;
  width: calc(100% - 40px);
}
.width--flex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  border: 1px solid transparent;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  line-height: 46px;
  border-radius: 6px;
  padding: 0 24px;
}
.button--full-width {
  display: flex;
  width: 100%;
}
.button--primary {
  border-color: #2a73ef;
  background-color: #2a73ef;
  color: white;
}
.button--secondary {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  color: #0c0c0c;
}
.button--small {
  line-height: 32px;
  font-size: 14px;
  padding: 0 12px;
}
.box {
  border: 1px solid #e4e4e4;
  background: #fff;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.header {
  background: #0c0c0c;
  color: #fff;
  height: 68px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navs {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.header__nav {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.header__nav a {
  color: #fff;
  font-weight: 500;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.header-logo__text {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}
.header-logo__beta {
  text-transform: uppercase;
  padding: 0 4px;
  opacity: 0.4;
  font-size: 10px;
  font-weight: 700;
  color: #0c0c0c;
  background-color: #fff;
  border-radius: 3px;
}

.header-user__relative {
  position: relative;
  height: 28px;
}
.header-user__gravatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.header-user__trigger {
  display: inline-flex;
  align-items: center;
}
.header-user__trigger svg {
  transition: 0.15s transform;
}
#header-user:checked ~ .header-user__trigger svg {
  transform: rotate(180deg);
}
.header-user__dropdown {
  background: #fff;
  width: 200px;
  position: absolute;
  top: 100%;
  right: 9999px;
  opacity: 0;
  border-radius: 9px;
  font-size: 16px;
  margin-top: 12px;
  z-index: 10;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  transition: right 0s 0.15s, opacity 0.15s, transform 0.15s;
  transform: translateY(5px);
  overflow: hidden;
  padding: 7px 0;
}
#header-user:checked ~ .header-user__dropdown {
  opacity: 1;
  right: -5px;
  transform: none;
  transition: right 0s, opacity 0.15s, transform 0.15s;
}
.header-user__dropdown:before {
  z-index: -1;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  transform: rotate(45deg);
  background: #fff;
  margin-top: -4px;
}
.header-user__dropdown a {
  color: #0c0c0c;
  display: block;
  transition: 0.15s background-color;
  padding: 5px 16px;
}
.header-user__dropdown a:hover {
  background: #eee;
}

.flash {
  background-color: #2a73ef;
  color: white;
  padding: 6px 0;
  text-align: center;
  font-size: 16px;
}

.footer {
  background-color: #0c0c0c;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__nav {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.field label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
}
.field input,
.field select {
  background: #f2f2f2;
  border: 1px solid #c5c5c5;
  line-height: 46px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
}
.field input,
.field select,
.field textarea {
  display: block;
  width: 100%;
  color: #0c0c0c;
  background: #fff;
}
.field input:disabled,
.field select:disabled,
.field textarea:disabled {
  background: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
  user-select: none;
}

.login-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-fixed__inner {
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.login-fixed__logo {
  text-align: center;
  margin-bottom: 12px;
}
.login-fixed__logo a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #0c0c0c;
  font-weight: 500;
}
.login-fixed__header {
  text-align: center;
  margin-bottom: 1.25rem;
}
.login-fixed__header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.login-fixed__header h2 {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 400;
}
.login-fixed__buttons .button + .button {
  margin-top: 10px;
}

.home-header {
  text-align: center;
  padding-bottom: 40px;
}
.home-header img {
  margin: -40px auto 24px;
}
.home-header h1 {
  font-size: 54px;
  font-weight: 500;
  font-family: "Times New Roman", Times, Georgia, serif;
  letter-spacing: -0.025em;
  font-weight: 500;
}
.home-header small {
  display: block;
  font-weight: 400;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: initial;
}
.home-header p span {
  font-variant-numeric: tabular-nums;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding-bottom: 80px;
}

.home-grid-item {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 200px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  padding: 20px 20px 0;
  justify-content: space-between;
  transition: 0.15s transform;
}
.home-grid-item--enabled:hover {
  transform: translateY(-3px);
}
.home-grid-item--enabled {
  color: #fff;
}
.home-grid-item--enabled:nth-child(3n+1) {
  background-color: rgb(223, 64, 71);
}
.home-grid-item--enabled:nth-child(3n+2) {
  background-color: rgb(231, 162, 9);
}
.home-grid-item--enabled:nth-child(3n+3) {
  background-color: rgb(70, 113, 86);
}
.home-grid-item--disabled {
  background-color: #d5d5d5;
  color: rgb(117, 117, 117);
}
.home-grid-item h3 {
  font-size: 16px;
  font-weight: 400;
}
.home-grid-item h4 {
  font-family: serif;
  font-size: 150px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -70px;
}

.settings__inner {
  padding-top: 48px;
  padding-bottom: 48px;
}
.settings__inner h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.settings__box {
  margin: 0 auto;
  max-width: 440px;
}
.settings__avatar {
  max-width: 120px;
  margin: 32px auto;
  position: relative;
}
.settings__avatar,
.settings__avatar img {
  border-radius: 50%;
}
.settings__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 4px;
  opacity: 0;
  transition: 0.15s opacity;
}
.settings__avatar-overlay:hover {
  opacity: 1;
}
.settings__avatar-overlay svg {
  width: 18px;
}
.settings__form > * + * {
  margin-top: 20px;
}

.day-header {
  margin-bottom: 32px;
}
.day-header h1 {
  text-align: center;
  font-family: "Times New Roman", Times, Georgia, serif;
}
.day-header h1 small {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.day main {
  padding: 48px 0;
}
.day__challenges {
  display: flex;
  gap: 24px;
}

.challenge-card {
  background: #fff;
  flex: 1;
  border-radius: 9px;
}

.leaderboard__main {
  padding: 48px 0;
}

.leaderboard__header {
  margin-bottom: 32px;
}
.leaderboard__header h1 {
  font-size: 32px;
}

.leaderboard__table {
  width: 100%;
  text-align: left;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}
.leaderboard__table td {
  border-top: 1px solid #e4e4e4;
  padding: 10px 20px;
  vertical-align: middle;
}
.leaderboard__table th {
  padding: 10px 20px;
  text-transform: uppercase;
  color: #a2a2a2;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.leaderboard__table img {
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

/*# sourceMappingURL=style.css.map */
