{{ define "login" }}
  {{ template "head" . }}


  <main class="login-fixed">
    <div class="width">

      <div class="login-fixed__inner">
        <div class="login-fixed__logo">
          <a href="/">
            {{ template "bicepIcon" . }}
            <span>Advent of Swole</span>
          </a>
        </div>
        
        <div class="box">
          <div class="login-fixed__header">
            <h1>Welcome back</h1>
            <h2>Login with your Apple or Google account</h2>
          </div>

          <div class="login-fixed__buttons">
            <a class="button button--secondary button--line button--full-width" href="/auth/apple">
              {{ template "appleIcon" . }}
              <span>Login with Apple</span>
            </a>

            <a class="button button--secondary button--line button--full-width" href="/auth/google">
              {{ template "googleIcon" . }}
              <span>Login with Google</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </main>

  {{ template "foot" . }}
{{ end }}