.field {
  label {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
  }

  input,
  select {
    background: $fieldBg;
    border: 1px solid $fieldBorder;
    line-height: 46px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: $radius;
  }

  input,
  select,
  textarea {
    display: block;
    width: 100%;
    color: $text;
    background: $cardsBg;
  }

  input:disabled,
  select:disabled,
  textarea:disabled {
    background: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
    user-select: none;
  }
}
