.footer {
  background-color: $darkBg;
  color: $darkText;
  height: 60px;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    gap: 24px;
  }
}
