.header {
  background: $darkBg;
  color: $darkText;
  height: 68px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navs {
    display: inline-flex;
    align-items: center;
    gap: 30px;
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    gap: 30px;

    a {
      color: $darkText;
      font-weight: 500;
    }
  }
}

.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &__text {
    font-weight: 600;
    color: $darkText;
    font-size: 18px;
  }

  &__beta {
    text-transform: uppercase;
    padding: 0 4px;
    opacity: 0.4;
    font-size: 10px;
    font-weight: 700;
    color: $darkBg;
    background-color: $darkText;
    border-radius: $radiusSmall;
  }
}

.header-user {
  &__relative {
    position: relative;
    height: 28px;
  }

  &__gravatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }

  &__trigger {
    display: inline-flex;
    align-items: center;

    svg {
      transition: 0.15s transform;
    }

    #header-user:checked ~ & svg {
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    background: $cardsBg;
    width: 200px;
    position: absolute;
    top: 100%;
    right: 9999px;
    opacity: 0;
    border-radius: $radiusLarge;
    font-size: 16px;
    margin-top: 12px;
    z-index: 10;
    box-shadow: $shadow;
    transition: $fadeOffR;
    transform: translateY(5px);
    overflow: hidden;
    padding: 7px 0;

    #header-user:checked ~ & {
      opacity: 1;
      right: -5px;
      transform: none;
      transition: $fadeOnR;
    }

    &:before {
      z-index: -1;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      content: '';
      position: absolute;
      top: 0;
      right: 15px;
      transform: rotate(45deg);
      background: $cardsBg;
      margin-top: -4px;
    }

    a {
      color: $text;
      display: block;
      transition: 0.15s background-color;
      padding: 5px 16px;

      &:hover {
        background: #eee;
      }
    }
  }
}
