{{ define "header" }}
<header class="header">
  <div class="width">
    <div class="header__inner">



      <a href="/" class="header-logo">
        {{ template "bicepIcon" . }}
        <span class="header-logo__text">Advent of Swole</span>
        <span class="header-logo__beta">Beta</span>
      </a>

      <nav class="header__navs">
        <ul class="header__nav">
          <li><a href="/leaderboard">Leaderboard</a></li>

          {{if .IsLoggedIn}}
            <li><a href="/stats">Stats</a></li>  
          {{ else }}
            <li><a class="button button--primary button--small" href="/login">Login</a></li>
          {{ end }}
        </ul>

        {{if .IsLoggedIn}}
          <div class="header-user">
            <div class="header-user__relative">
              <input class="hidden" type="checkbox" id="header-user">

              <label class="header-user__trigger" for="header-user">
                <img class="header-user__gravatar" src="{{ .Gravatar }}" alt="Gravatar for {{ .User.DisplayName }}">
                {{ template "triangleDownIcon" . }}
              </label>

              <div class="header-user__dropdown">
                <ul>
                  <li><a href="/settings">Settings</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        {{end}}
      </nav>

    </div>
  </div>
</header>
{{ end }}