{{ define "header" }}
<header class="header">
  <div class="width">
    <div class="header__inner">

      <a href="/" class="header-logo">
        {{ template "bicepIcon" . }}
        <span class="header-logo__text">Advent of Swole</span>
        <span class="header-logo__beta">Beta</span>
      </a>

      <ul class="header__nav">
        <li><a href="/leaderboard">Leaderboard</a></li>
        {{if .IsLoggedIn}}
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{end}}
      </ul>
    </div>
  </div>
</header>
{{ end }}