{{ define "leaderboard" }}
  {{ template "head" . }}
  {{ template "header" . }}

  <main class="leaderboard__main">
    <div class="width">

      <div class="leaderboard__header">
        <h1>Leaderboard</h1>
      </div>

      <table class="leaderboard__table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $entry := .Leaderboard}}
            <tr>
                <td>{{ add $index 1 }}</td>
                <td>
                  <img src="{{ .GravatarURL }}" alt="{{ .DisplayName }}'s avatar" />
                  <span>{{ .DisplayName }}</span>
                </td>
                <td>{{ .TotalPoints }}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">No entries found</td>
            </tr>
            {{end}}
        </tbody>
      </table>

    </div>
  </main>

  {{ template "footer" . }}
  {{ template "foot" . }}
{{ end }}
