{{ define "leaderboard" }}
  {{ template "head" . }}
  {{ template "header" . }}

  <main class="leaderboard__main">
    <div class="width">

      <div class="leaderboard__header">
        <h1>Leaderboard</h1>
      </div>

      <table class="leaderboard__table">
        <thead>
            <tr>
                <th class="leaderboard__cell leaderboard__cell--small">Rank</th>
                <th class="leaderboard__cell leaderboard__cell--full">Name</th>
                <th class="leaderboard__cell leaderboard__cell--medium">Points</th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $entry := .Leaderboard}}
            <tr>
                <td class="leaderboard__cell leaderboard__cell--small">{{ add $index 1 }}</td>
                <td class="leaderboard__cell leaderboard__cell--full">
                  <img src="{{ .GravatarURL }}" alt="{{ .DisplayName }}'s avatar" />
                  <span>{{ .DisplayName }}</span>
                </td>
                <td class="leaderboard__cell leaderboard__cell--medium">{{ .TotalPoints }}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3">No entries found</td>
            </tr>
            {{end}}
        </tbody>
      </table>

    </div>
  </main>

  {{ template "footer" . }}
  {{ template "foot" . }}
{{ end }}
